In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup as bs
from time import sleep
from random import randint

In [2]:
headers = {"Accespt-Language": "en-US,en;q=0.5"}

In [3]:
pages = np.arange(1,1050,50)

In [4]:
movie_title = []
release_year = []
movie_rating = []
movie_length = []
genre = []
imdb_stars = []
imdb_metascore = []
director = []
star_one = []
star_two = []
star_three = []
star_four = []
imdb_votes = []
imdb_gross = []


for page in pages:
    page = requests.get("https://www.imdb.com/search/title/?title_type=feature&release_date=1990-01-01,1999-12-31&sort=boxoffice_gross_us,desc&start="+str(page)+"&ref_=adv_nxt")
    soup =bs(page.text, 'html.parser')
    #the top div that all the information is under
    movie_information = soup.findAll('div', attrs= {'class' : 'lister-item mode-advanced'})
    
    # using sleep command
    sleep(randint(5,12))
    
    #creating a for loop for the movies
    for x in movie_information:
        
        #finding movie title
        title = x.h3.a.text
        movie_title.append(title)
        
        #release year of movie
        year = x.find('span', attrs = {'class': 'lister-item-year'}).text.replace('(','').replace(')','').replace('I ','').replace('I','')
        release_year.append(year)
        
        #movie_lenth
        runtime = x.find('span', attrs = {'class': 'runtime'}).text.replace(' min', '')
        movie_length.append(runtime)
        
        #finding the genre
        movie_genre = x.find('span', attrs = {'class': 'genre'}).text.replace('\n','')
        genre.append(movie_genre)
        
        #finding rating for movies and adding forloop if movies do not have ratings
        
        rating = x.find('span', attrs = {'class': 'certificate'}).text if x.find('span', attrs = {'class': 'certificate'}) else 'None'
        movie_rating.append(rating)
        
        
        #finding imdb metascore
        metascore = x.find('span', attrs = {'class' : 'metascore'}).text.strip() if x.find('span', attrs = {'class' : 'metascore'}) else 'none'
        imdb_metascore.append(metascore)  
        
        #finding the director of the film
        filmd_director = x.find('p', attrs = {'class' : ''}).find_all('a')[0].text 
        director.append(filmd_director)
        
        #finding star_one
        actor_one = (x.find('p', attrs = {'class' : ''}).find_all('a')[1].text 
                     if x.find('p', attrs = {'class' : ''}).find_all('a')[1] else 'none')
        star_one.append(actor_one)
        #count+=1
        #print(count)
        
        #finding star_two
        actor_two = x.find('p', attrs = {'class' : ''}).find_all('a')[2].text if x.find('p', attrs = {'class' : ''}).find_all('a')[2] else 'none'
        star_two.append(actor_two)
        
        #finding star_three
        actor_three = x.find('p', attrs = {'class' : ''}).find_all('a')[3].text if x.find('p', attrs = {'class' : ''}).find_all('a')[3] else 'none'
        star_three.append(actor_three)
        
        #finding star_four
        if x.find('p', attrs = {'class' : ''}).find_all('a')[4] is not None:
            actor_four = x.find('p', attrs = {'class' : ''}).find_all('a')[4].text if x.find('p', attrs = {'class' : ''}).find_all('a')[4] else 'none'
            star_four.append(actor_four)
        else:
            star_four.append(None)
        
        #finding the vote and gross so i can split it up
        votes_and_gross = x.findAll('span', attrs = {'name' : 'nv'})
        votes_and_gross 
        
        #finding imdb votes
        votes = votes_and_gross[0].text
        imdb_votes.append(votes)
        
        #finding movie gross in millions
        gross = votes_and_gross[1].text
        imdb_gross.append(gross)
        
        #imdb_star rating
        yellow_star = x.strong.text
        imdb_stars.append(yellow_star)

In [5]:
#creating dataframe with columns
imdb_list_df = pd.DataFrame()
imdb_list_df['movie_title'] = movie_title
imdb_list_df['release_year'] = release_year
imdb_list_df['movie_rating'] = movie_rating
imdb_list_df['director'] = director
imdb_list_df['star_one'] = star_one
imdb_list_df['star_two'] = star_two
imdb_list_df['star_three'] = star_three
imdb_list_df['star_four'] = star_four
imdb_list_df['movie_length'] = movie_length
imdb_list_df['genre'] = genre
imdb_list_df['imdb_metascore'] = imdb_metascore
imdb_list_df['imdb_stars'] = imdb_stars
imdb_list_df['imdb_votes'] = imdb_votes
imdb_list_df['imdb_gross'] = imdb_gross
imdb_list_df

,movie_title,release_year,movie_rating,director,star_one,star_two,star_three,star_four,movie_length,genre,imdb_metascore,imdb_stars,imdb_votes,imdb_gross
0,Titanic,1997,PG-13,James Cameron,Leonardo DiCaprio,Kate Winslet,Billy Zane,Kathy Bates,194,"Drama, Romance",75,7.9,"1,168,794",$659.33M
1,Star Wars: Episode I - The Phantom Menace,1999,PG,George Lucas,Ewan McGregor,Liam Neeson,Natalie Portman,Jake Lloyd,136,"Action, Adventure, Fantasy",51,6.5,"805,014",$474.54M
2,The Lion King,1994,G,Roger Allers,Rob Minkoff,Matthew Broderick,Jeremy Irons,James Earl Jones,88,"Animation, Adventure, Drama",88,8.5,"1,054,327",$422.78M
3,Jurassic Park,1993,PG-13,Steven Spielberg,Sam Neill,Laura Dern,Jeff Goldblum,Richard Attenborough,127,"Action, Adventure, Sci-Fi",68,8.2,"985,839",$402.45M
4,Forrest Gump,1994,PG-13,Robert Zemeckis,Tom Hanks,Robin Wright,Gary Sinise,Sally Field,142,"Drama, Romance",82,8.8,"2,067,035",$330.25M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045,One Good Cop,1991,R,Heywood Gould,Michael Keaton,Rene Russo,Anthony LaPaglia,Kevin Conway,114,"Action, Crime, Drama",none,5.8,"4,286",$11.28M
1046,Chill Factor,1999,R,Hugh Johnson,Cuba Gooding Jr.,Skeet Ulrich,Peter Firth,David Paymer,102,"Action, Adventure, Comedy",33,5.2,"9,808",$11.23M
1047,"The Adventures of Priscilla, Queen of the Desert",1994,R,Stephan Elliott,Hugo Weaving,Guy Pearce,Terence Stamp,Rebel Penfold-Russell,104,"Comedy, Music",70,7.5,"51,010",$11.22M
1048,Q&A,1990,R,Sidney Lumet,Nick Nolte,Timothy Hutton,Armand Assante,Patrick O'Neal,132,"Crime, Drama, Thriller",66,6.5,"6,343",$11.21M
1049,Deep Rising,1998,R,Stephen Sommers,Treat Williams,Famke Janssen,Anthony Heald,Kevin J. O'Connor,106,"Action, Adventure, Horror",none,6.1,"37,848",$11.20M

#counting to see how many movies are in each year
imdb_list_df['release_year'].value_counts()

In [7]:
#convderting it to csv so i can do joins in another notebook
imdb_list_df.to_csv('imdb_df.csv')

In [6]:
imdb_list_df['release_year'].value_counts()

1996    119
1999    118
1997    111
1998    111
1994    108
1995    108
1993    100
1990     93
1992     93
1991     89
Name: release_year, dtype: int64